*{
  margin:0;
  padding:0;
}
.main{
  display:flex;
  justify-content: center;
  align-items:center;
  height:100vh;
  background-color: cornflowerblue;
}
.panel{
  display:flex;
  justify-content: space-between;
  gap: 12px;
  margin:auto;
  background-color:white;
  margin-bottom:1rem;
  margin-top:1rem;
  width:70%;
}
.minusButton{
  border:none;
  background-color: white;
  font-size:xx-large;
  margin-left:10px;
}
.plusButton{
  border:none;
  background-color: white;
  font-size: xx-large;
  margin-right:10px;
}
.resetButton{
  background-color: blue;
  padding:1rem;
  border:none;
  color:white;
  font-size:large;
}
.whole-panel{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.empty-line{
  background-color:bisque;
  width:0.25rem;
  margin-top: 5px;
  margin-bottom:5px;
  margin-left:0px;
}